// ====================================
// Form element styling
// ====================================

.card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $secondaryBackgroundColor;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .card-header {
    &.card-logo {
      padding-bottom: 9px;
      margin-bottom: 9px;
    }

    margin-top: 0;
    border-bottom: 1px solid $primaryColor;
    color: $primaryColor;
  }

  .card-logo {
    &.jumbo {
      p,
      i,
      span {
        font-size: 10em;
      }
    }
  }

  .card-content {
    p {
      color: $paragraphColor;

      &:hover {
        color: $paragraphColor;
      }
    }
  }
}
