// ====================================
// Global colors
// ====================================

$backgroundColor: #262626;
$backgroundHighlightColor: #333f52;
$secondaryBackgroundColor: #3c3c3c;

$primaryColor: #809fd3;
$primaryHighlightColor: #809fd3;
$primaryHoverColor: #809fd3;

$paragraphColor: #fff;
$paragraphMutedColor: #999;
